<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="public/fragments/header.html :: header"></th:block> /*/-->
    <body class="register-page" ng-app="appRoot" ng-strict-di>
        <main class="md-whiteframe-1dp"  ng-controller="LoginController" layout="column" layout-padding>
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/user/login/process}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
                <a href="#">wachtwoord vergeten</a>
                <a href="/register">Ik heb nog geen account</a>
            </form>
        </main>
    </body>
</html>