<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="public/fragments/header.html :: header"></th:block> /*/-->
<body class="reset-page" ng-app="appRoot" ng-strict-di>
<main class="md-whiteframe-1dp"  ng-controller="ResetController" layout="column" layout-padding>
    <!--/*/ <th:block th:include="public/fragments/top.html :: top"></th:block> /*/-->
    <md-toolbar>
        <div class="md-toolbar-tools"  th:text="#{reset.title}"></div>
    </md-toolbar>
    <md-divider layout-padding></md-divider>
    <div ng-switch="error">
        <div class="alert alert-danger" role="alert" ng-switch-when="ERROR">
            <span th:text="#{error.message}"></span>
        </div>
        <div class="alert alert-danger" role="alert" ng-switch-when="INVALID">
            <span th:text="#{error.invalid.message}"></span>
        </div>
        <div class="alert alert-info" role="alert" ng-switch-when="NOTFOUND">
            <span th:text="#{password.reset.mail.not.found}"></span>
            <a href="/register" class="alert-link" th:text="#{link.reset.register}"></a>
        </div>
    </div>
    <div class="alert alert-info" role="alert" ng-show="stepOne">
        <span th:text="#{password.reset.message.one}"></span>
    </div>
    <div class="alert alert-success" role="alert" ng-show="stepOneSuccess">
        <span th:text="#{password.reset.success.message.one}"></span>
        <a href="/login" class="alert-link" th:text="#{password.reset.login}"></a>
    </div>
    <div class="alert alert-info" role="alert" ng-show="stepTwo">
        <span th:text="#{password.reset.message.two}"></span>
    </div>
    <div class="alert alert-success" role="alert" ng-show="stepTwoSuccess">
        <span th:text="#{password.reset.success.message.two}"></span>
        <a href="/login" class="alert-link" th:text="#{password.reset.login}"></a>
    </div>
    <md-divider layout-padding></md-divider>
    <md-content>
        <section>
            <form name="resetForm">
                <fieldset ng-disabled="formDisabled">
                    <div layout="row" ng-if="stepOne">
                        <md-input-container>
                            <label th:text="#{email.label}"></label>
                            <input th:placeholder="#{placeholder.email}" md-email required name="email" type="email" ng-model="userData.email">
                            <div ng-messages="resetForm.email.$error">
                                <div ng-message="required" th:text="#{required.field}"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" ng-if="stepTwo">
                        <md-input-container flex="50">
                            <label th:text="#{password.label}"></label>
                            <input placeholder="******" ng-minlength="6" required name="password" type="password" ng-model="userData.password">
                            <div ng-messages="resetForm.password.$error">
                                <div ng-message="required" th:text="#{required.field}"></div>
                                <div ng-message="minlength" th:text="#{length.field}"></div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50">
                            <label><span  th:text="#{repeat.password.label}"></span><md-icon class="valid-check" ng-show="resetForm.repeatpassword.$valid">check</md-icon></label>
                            <input placeholder="******" required name="repeatpassword" type="password" ng-model="repeatPassword" ng-change="checkPassword()">
                            <div ng-messages="resetForm.repeatpassword.$error">
                                <div ng-message="required" th:text="#{required.field}"></div>
                                <div ng-message="nomatch" th:text="#{repeat.password.nomatch}"></div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-button class="md-raised" th:text="#{button.reset}" ng-click="initForm()"></md-button>
                        <md-button class="md-raised md-primary" th:text="#{button.reset.wachtwoord}" ng-click="submitForm()" ng-disabled="resetForm.$invalid"></md-button>
                    </div>
                </fieldset>
            </form>
        </section>
    </md-content>
    <!--/*/ <th:block th:include="public/fragments/footer.html :: footer"></th:block> /*/-->
</main>
</body>
</html>